*{
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.flex-between {
    justify-content: space-between;
    display: flex;
}

.top-menu{
    display: flex;
    list-style: none;
    background-color: hotpink;
    height: 55px;
    align-items: center;
}

.top-menu a{
    text-decoration: none;
    color: white;
}

.backround { 
    padding-top: 200px;
    background: url(../img/oboi_88191-10_anime_ateliero.webp);
    width: 100%;
    text-align: center;
    padding: 60px 0;
    opacity: 0.302;
}

.backround h1 {
    display: flex;
    justify-content: center;
    color: hotpink;
}

 .backround p{
    color: hotpink;
 }